/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.massimo {
	display: none !important;
}

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}
.hero-small{
	display: none;
}
.hero { 
	

	height: 100%;
	position: relative;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	 -webkit-overflow-scrolling: touch;
}
.logo{
	width: 100%;
	max-width: 275px;
	margin-top: 30px;
	box-sizing: border-box;
	display: block;
	position: absolute;
		top: 32px;
		left: 20%;
}
.quote{
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-width: 270px;
	margin: 25px 20px;

}
.dale{
	position: absolute;
	top: 32px;
	right: 20%;
}
.kickstarter{
	display: block;
	margin:	170px auto 10px auto;
	width: 240px;
}
.strawbees{
	display: block;
	width: 230px;
	box-sizing: border-box;

	position: absolute;
	bottom: 30px;
	
		left: 20%;
		margin-left: 0;

}
.fb-like, .fb_iframe_widget{
	position: absolute !important;
	display: block !important;
	width: 350px;
	bottom: 30px;
	right: 20%;
}
.fb-like.mobile{
	opacity: 0.001 !important;
	width: 200px;
}

.section .container{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px;
	box-sizing: border-box;
}


.teaser{
	background: url(../img/hero-small.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 30px;
}

.aspect-ratio-wrapper {
	position: relative;
	width: 100%; /* <-- just a default, can be anything. */
}
.sixteen-by-nine.aspect-ratio { padding-bottom: 56.25% }
.aspect-ratio-wrapper .content {
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

 

@media  (max-width: 1200px), (max-height:600px) {
	
	.section .container{
		max-width: 700px;
	}

	.hero { 
		background-image: none; 
		
	}
	.kickstarter{
		margin:	10px auto 10px auto;
		width: 200px;
	}
	.strawbees{
		position: relative;
		margin: 40px auto 0 auto;
		left: 0;
	}
	.fb-like, .fb_iframe_widget{
		position: relative !important;
		right: auto;
		bottom: auto;
		margin: 0 auto;
	}
	.quote{
		margin: 25px auto;
		display: block;
		float: none !important; 
		display: block !important; 
	}
	.dale{
		position: relative;
		top: auto;
		right: auto;
	}
	.logo{
		position: relative;
		top: auto;
		left: auto;
		width: 200px;
		margin: 0 auto 0px auto;
	}
	.hero-small{
		display: block;
		margin: 0;
		width: 100%;
	}

}


@media (max-width: 400px) {

	.fb-like.desktop{
		opacity: 0.001 !important;
	}
	.fb-like.mobile{
		opacity: 1 !important;
	}
}


@media (min-height: 600px) and (min-width: 1200px) and (max-height: 850px) {

	.section .container{
		max-width: 700px;
	}
	.fb-like, .fb_iframe_widget{	
		right: 25%;
	}
	.strawbees{
		left: 25%;
	}
	.logo{
		left: 25%;
	}
	.dale{
		right: 25%;
	}
}
@media (min-height: 600px) and  (min-width: 1200px) and (max-height: 700px) {

	.section .container{
		max-width: 600px;
	}
	.fb-like, .fb_iframe_widget{	
		right: 25%;
	}
	.strawbees{
		left: 25%;
	}
	.logo{
		top: 25%;
		top: 0;
	}
	.dale{
		right: 25%;
		top: 0;
	}
	.kickstarter{
		margin-top: 128px;
	}
}



/*

@media (max-height: 500px) {
	
}
*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}